---
layout: page.njk
tags: page
title: Archive
---

<header>
  <h1>Blog Archive</h1>
  <p>
    Here's some stuff that I've written.
  </p>
</header>

{%- for post in collections.post | reverse -%}
<article class="readable-width">
  <header>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  </header>
  <section class="meta">
    <ul>
      <li>
        <time>{{ post.data.date.toDateString() }}</time>
      </li>
    </ul>
  </section>
  <section>
    {{ post.data.excerpt }}
  </section>
</article>
{%- endfor -%}