---
layout: page.njk
---
<article class="readable-width">
  <header>
    <h1>{{ title }}</h1>
  </header>

  <section class="meta">
    <ul>
      <li>
        <time>{{ page.date.toDateString() }}</time>
      </li>
    </ul>
  </section>

  <section>
    {% if feature %}
    <figure class="feature">
      <div style="background-image: url('{{ feature }}');"></div>
      <figcaption>{{ feature_caption }}</figcaption>
    </figure>
    <div class="feature-spacer"></div>
    {% endif %}

    {{ content | safe }}

  </section>
</article>